body {
  padding-top: 200px; /* 60px to make the container make room for the navigation bar */
  	background:url("images/backgroundimg.jpg") no-repeat center center fixed;
    background-size: cover;
  	font-family: 'Gochi Hand', cursive  !important;
  	color:#ffd9d9;
  	color:#000000;
  	text-shadow: 1px 1px 1px #aaa;
  	margin: 10px;
 	font-size: 170%;
  
}